.form-actions,
.popover-actions {
  margin-top: 1rem; }

.popover-actions {
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  padding: 8px 14px; }

.actions > * + *,
.form-actions > * + *,
.popover-actions > * + * {
  margin-left: 2ex; }

.alert p {
  margin-bottom: 0; }
.alert p + p {
  margin-top: 1rem; }

.form-group {
  margin-bottom: 0; }

.form-group + .form-group {
  margin-top: 1rem; }

.form-group:not(.row) > .form-control-label {
  padding-top: 0; }

.form-control.form-control-inline {
  display: inline-block;
  width: auto; }

.element-label.disabled {
  cursor: not-allowed; }

.help-inline,
.element-description {
  padding: 0.375rem 0.75rem 0 0.75rem;
  font-size: 0.875rem; }

.has-danger .help-inline {
  color: #d9534f; }

.has-success .help-inline {
  color: #5cb85c; }

.has-warning .help-inline {
  color: #f0ad4e; }

input.measure {
  text-align: right; }

.checkbox-group:not(.inline-inputs) > label,
.radio-group:not(.inline-inputs) > label {
  display: block; }

.inline-inputs > label {
  margin-bottom: 0; }

.inline-inputs > label + label {
  margin-left: 0.75rem; }

.popover.fit-content {
  max-width: none; }
.popover .form-group + .form-group {
  margin-top: 1em; }
.popover .form-control-label {
  padding: .375em .75em; }
.popover .btn,
.popover .form-control,
.popover .input-group-addon,
.popover select {
  padding: .375em .75em;
  font-size: 1em;
  border-radius: .25em; }
.popover .input-group .form-control:last-child,
.popover .input-group-addon:last-child,
.popover .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.popover .input-group-btn:first-child > .btn:not(:first-child),
.popover .input-group-btn:last-child > .btn,
.popover .input-group-btn:last-child > .btn-group > .btn,
.popover .input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.popover .popover-actions {
  margin-top: 0; }

.popover.contrast {
  background-color: transparent;
  border: 0;
  padding: 0; }
  .popover.contrast.popover-top .popover-arrow {
    border-top-color: rgba(0, 0, 0, 0.8); }
  .popover.contrast.popover-top .popover-arrow::after {
    border-top-color: #000000; }
  .popover.contrast.popover-right .popover-arrow {
    border-right-color: rgba(0, 0, 0, 0.8); }
  .popover.contrast.popover-right .popover-arrow::after {
    border-right-color: #000000; }
  .popover.contrast.popover-bottom .popover-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.8); }
  .popover.contrast.popover-bottom .popover-arrow::after {
    border-bottom-color: #000000; }
  .popover.contrast.popover-left .popover-arrow {
    border-left-color: rgba(0, 0, 0, 0.8); }
  .popover.contrast.popover-left .popover-arrow::after {
    border-left-color: #000000; }
  .popover.contrast, .popover.contrast input[type="text"], .popover.contrast input[type="password"], .popover.contrast select, .popover.contrast textarea, .popover.contrast .field > label {
    color: #ffffff; }
  .popover.contrast label {
    color: #cccccc; }
  .popover.contrast .popover-inner {
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #000000);
    border: 3px solid #000000;
    border-radius: 0.3rem;
    padding: 0; }
  .popover.contrast .popover-title {
    background: #212121;
    background: linear-gradient(to bottom, transparent, #000000);
    border-bottom-color: #000000;
    border-radius: 0.3rem 0.3rem 0 0; }
  .popover.contrast .popover-content {
    background: transparent; }
  .popover.contrast .popover-actions {
    background: #212121;
    background: linear-gradient(to bottom, #222, transparent);
    border-top-color: #212121; }
  .popover.contrast input[type="text"], .popover.contrast select, .popover.contrast textarea {
    background: #333333;
    background: linear-gradient(to bottom, #212121 5%, #333333);
    border-color: #454545;
    box-shadow: 0 0 1px #000000 inset; }
  .popover.contrast .input-group-addon {
    color: #cccccc;
    background: #333333;
    background: linear-gradient(to bottom, #333333 5%, #212121);
    border-color: #454545;
    text-shadow: -1px -1px #000000;
    box-shadow: 0 0 1px #000000 inset; }
