.clearfix{zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.row{zoom:1;margin-left:-20px;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
.row [class^="span"]{display:inline;float:left;margin-left:20px;}
.row .span1{width:40px;}
.row .span2{width:100px;}
.row .span3{width:160px;}
.row .span4{width:220px;}
.row .span5{width:280px;}
.row .span6{width:340px;}
.row .span7{width:400px;}
.row .span8{width:460px;}
.row .span9{width:520px;}
.row .span10{width:580px;}
.row .span11{width:640px;}
.row .span12{width:700px;}
.row .span13{width:760px;}
.row .span14{width:820px;}
.row .span15{width:880px;}
.row .span16{width:940px;}
.row .offset1{margin-left:80px;}
.row .offset2{margin-left:140px;}
.row .offset3{margin-left:200px;}
.row .offset4{margin-left:260px;}
.row .offset5{margin-left:320px;}
.row .offset6{margin-left:380px;}
.row .offset7{margin-left:440px;}
.row .offset8{margin-left:500px;}
.row .offset9{margin-left:560px;}
.row .offset10{margin-left:620px;}
.row .offset11{margin-left:680px;}
.row .offset12{margin-left:740px;}
.row .span-one-third{width:300px;}
.row .span-two-thirds{width:620px;}
.row .offset-one-third{margin-left:340px;}
.row .offset-two-thirds{margin-left:660px;}
.container{width:940px;margin:0 auto;}
.container-fluid{padding:0 20px;zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";}
.container-fluid:after{clear:both;}
.container-fluid>.sidebar{float:left;width:220px;}
.container-fluid>.content{min-width:700px;max-width:1180px;margin-left:240px;}
.center-block{display:block;margin:0 auto;}
