@import "variables";

.form-group {
	margin-bottom: 0;
}

.form-group + .form-group {
	margin-top: $form-group-margin-bottom;
}

.form-group:not(.row) > .form-control-label {
	padding-top: 0;
}

.form-control {
	border-radius: .25em;
}

.form-control.form-control-inline {
	display: inline-block;
	width: auto;
}

// element

.element-label.disabled {
	cursor: not-allowed;
}

.has-danger .help-inline {
	color: $brand-danger !important;
}

.has-success .help-inline {
	color: $brand-success !important;
}

.has-warning .help-inline {
	color: $brand-warning !important;
}

// input

input.measure {
	text-align: right;
}

.inline-check {
	margin-left: -$input-padding-x;
}

.inline-check > .form-check {
	display: inline-block;
	margin-left: $input-padding-x;
}
